
@*/*<h1 class="tile"> GetCured..!! </h1>
<h3 class="tile">All Doctors in One Place.</h3>
<h5 class="tile">Scroll to know more About Us.</h5>*/*@
<link rel="stylesheet" href="~/css/ImageMove.css" />
<center>
    <img src="images/leaf.jpg" style="width:800px; height:auto;"/>
    <br /><hr />
       
</center>
<section class="sect">
    <img src="/images/pict.jpg" style="width:100%;height:auto;" />
</section>
<div class="cont">
    <h2>GetCured: The Doctor's Appointment System ...</h2>
    <p>Doctors are lifesavers and that is why they shouldn’t be too far from those who need healthcare. With more and more people having the need to seek medical
        attention, doctors need to make their services accessible and available to their clients. One way they can do this is offering online appointment scheduling
        for clients. In this time and age where everything and anything can be found on the internet, you need to take advantage of the opportunities that online 
        appointment system for doctors presents. While you may not have products to sell or own an eCommerce store, you need to know that consumers expect service
        providers to make it easy to buy from them. Doctors provide medical service, so accepting appointments through your WordPress website offers that 
        convenience that your clients expect of you. If you are skeptical about providing online appointment scheduling service for your patients, here are six
        reasons that will convince you to do so. <br /><br />
       <h4>1. Your Clients Want Convenience</h4> 
        Having an Online Appointment System is one step to making your customers satisfied with your services. New clients will want to book an appointment with you 
        once they know that you have made your booking process easy. If they are impressed with their meeting with you, they will keep coming to you for treatment.
        But how will they become loyal clients if they are turned off by your method of booking? This is why it is important that you use the online appointment 
        system to woo them first. Most new patients will prefer booking an appointment online to talking on the phone with one of your staff whom they haven’t met 
        before.<br /><br />
       <h4> 2. Patients Don’t Have to Wait Long Hours</h4>
        If your clients still need to come to your clinic to book an appointment to see you, then you need to start thinking of using the online appointment system
        as soon as possible. No patient wants to spend hours waiting to book an appointment when there are system online doctors out there who are offering equal 
        service with a booking system that makes appointment scheduling quick and stress-free. Sick patients want to be attended to as quickly as they come into your
        clinic. Instead of making your patients wait hours for their turn to book an appointment, provide a scheduling system and save them the stress.<br /><br />
        <h4>3. Reduces Patient No-Shows</h4> 
        Patients can sometimes forget that they have a doctor’s appointment causing them to disappointment you on the scheduled date. With an online appointment system,
        however, there will be fewer disappointments as the system is designed to send reminders and confirmations to clients after they book an appointment. This way
        clients can look forward to their meeting with you and prepare well for it. Online scheduling system helps you to be organized and plan your activities around 
        your meetings with your clients.<br /><br />
        <h4>4. Saves You and Your Employees Tons of Time</h4> 
        Before this time, many service providers who require their clients to book appointments in advance relied on their staff to do the bookings manually. In fact,
        in some companies where the secretary had too much workload, another hand was employed to oversee bookings and scheduling.Now, however, you do not need your 
        staff to ensure that bookings are done correctly. Your clients can go online and book appointments for themselves. For one thing, you can be confident that the 
        correct information will be entered in the booking form since the patients will fill it themselves. Most importantly, it saves you and your staff time. The 
        time that would have been used to answer phone calls or reply to emails of clients who want to book appointments can be used to accomplish other tasks, thus
        increasing productivity in the workplace.<br /><br />
        <h4>5. Allows Clients to Book at Any Time and Place</h4>
        With their mobile devices and the internet, patients can book an appointment from wherever they are and at any time. This is one of the major benefits of 
        using the doctors online system. Agreed, many people may still use the telephonic appointment booking method, but these methods have a lot of challenges.
        Foremost among them is that the patient cannot call to make an appointment whenever they like. It must be within the hours that the phone lines are open. 
        With the online booking system, however, you can book an appointment at any time and from any place.<br /><br />
        <h4>6. Better Management of Your Schedule</h4>
        The online booking system puts you in control of your schedule and appointments. Now, you can organize your activities and plan ahead for the day without fear of
        last-minute cancellations on the part of clients.With the booking system, you can control the number of people who can view your bookings and you can also make quick
        changes to the schedule. You can specify how long in advance an appointment can be canceled by patients. This way you are sure of how many patients you will be
         attending to in one day.<br />
      </p>
      <p>
          <h3>About our Motives and Us..!!</h3>
          We the students of St.columba's had jointly made this Doctor's appointment system with the motive that the post pandemic era must bring some 
          convience to both the doctors and the patients. As it is the job in which two people came very closer to each other
          and there is a high risk of spreading the infection. So we have created a doctors appointment system, where 
          patients and doctor both first register themselves and then patient can book and appointmnet of the doctor needed and can easily get in touch with him.
          the sole purpose is to bring convinience and save time of  both the doctors and the patients. And by making the process online we can bring easiness and
          now the patient don't have to roam around from here and there for booking any doctor's appointment. He can easily book an appointment of the required doctor,
          by using our application, just by siiting at his or her home or any place from his system or other computing devices and at the given time when his appointment
          is booked he can directly go and meet to the doctors at his place, without wandering here and there and get his cure.
          That is why we have named it "GetCured", which symbolises that 'Get your Cure Easily and Faster and be Healthy'. Our name also 
          mean the same what our work is...!!
           Thank you..!!
                                            <center>-Aryan Raj<br />
                                                -Dharmesh Kumar<br />
                                                -Nitish Ranjan<br />
                                                -Abhishikha Kumari<br />
                                                -Kumari Shubham<br />
                                            </center>

      </p>
        <div class="img3d">  
            <center>
                 <img src="images/usss.jpg" style="width:700px;height:auto" />
            </center>
           
        </div>
   
 </div>

@section Scripts
    {
    <script>
        var section = document.querySelector('section');
        window.addEventListener('scroll', function() {
            var value = window.scrollY;
            section.style.clipPath = "circle(" + value + "px at center)"
        })

    </script>
        }